* {
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
.main-box {
    width: 800px;
    margin: 0 auto 0 auto;
    gap: 20px;
    border: 5px solid rgb(64, 64, 64);
}
.box {
    width: 100%;
    height: 120px;
    background-color: dodgerblue;
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-2 {
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    color: white;
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-box-1 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}
.main-box-2 {
    display: grid;
    grid-template-columns: 1fr 150px 150px 1fr;
}
.main-box-3 {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 300px 100px 50px;
}
.main-box-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 100px 300px 100px 50px; */
}
.box-4-1 {
    background-color: goldenrod;
    grid-column-start: 1;
    grid-column-end: 5;
}
.box-4-2 {
    background-color: darkcyan;
    grid-row-start: 2;
    grid-row-end: 6;
    height: 100%;
}
.main-box-5 {
    width: 970px;
    height: 850px;
    margin: 0 auto 0 auto;
    gap: 20px;
    border: 5px solid rgb(64, 64, 64);
    display: grid;
    /* position: absolute;
    padding: 30px;
    padding: 30px;
    font-size: 2.2em;
    text-decoration: none;
    padding: 9px;
    list-style: none;
    background-color: rgba(179, 184, 184, 0.432);
    padding: 9px;
    border-radius: 4px; */
}
.mes {
    grid-column-start: 1;
    grid-column-end: 8;
    border-bottom: 1px solid rgb(88, 77, 63);
    text-align: center;
    margin: 0px 10px 0px 0px;
}

.festivo {
    background-color: rgb(83, 119, 21);
    color: white;
    position: relative;
}

.diasMes.festivo:hover {
    border: 3px rgb(16, 16, 60) solid;
}

.diasMes:hover {
    border: 3px solid darkcyan;
    cursor: pointer;
}

.diasSemana:hover {
    border: 3px solid rgb(27, 110, 110);
    cursor: pointer;
}
@font-face {
    font-family: "diciembre";
    src: url(../fonts/Billionstar\ Italic.ttf);
}

.nav {
position: absolute;
    padding: 30px;
}

.nav nav ul li a {
    color: rgba(0, 0, 0, 0.842);
    font-size: 2.2em;
    text-decoration: none;
    padding: 9px;
} 

.nav nav ul li {
    list-style: none;
}

.nav nav ul li a:hover {
    background-color: rgba(179, 184, 184, 0.432);
    padding: 9px;
    border-radius: 4px;
}  

.calendario {
    display: grid;
    grid-template-columns: repeat(7, 140px);
    grid-template-rows: 60px 70px repeat(7, 100px);
    margin-top: 100px;
    
}

.dia1 {
    grid-column-start: 6;
    grid-column-end: 7;
}

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diasSemana {
    background-color: darkcyan;
    margin: 10px 10px 10px 0px;
    color: white;
    font-size: 1.4em;
    font-weight: lighter;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.diasMes {
    background-color: rgb(242, 244, 235);
    margin: 0px 10px 10px 0px;
    padding: 3px 0px 0px 6px;
    border-radius: 5px;
    font-size: 1.4em;
}

h4 {
    font-size: 0.7em;
    text-align: right;
    bottom: 0;
    right: 7%;
    position: absolute;
    font-weight: lighter;
}

.mes {
    grid-column-start: 1;
    grid-column-end: 8;
    border-bottom: 1px solid rgb(218, 135, 32);
    text-align: center;
    margin: 0px 10px 0px 0px;
}

.festivo {
    background-color: rgb(238, 69, 142);
    color: white;
    position: relative;
}

.diasMes.festivo:hover {
    border: 3px blue solid;
}

.diasMes:hover {
    border: 3px solid darkcyan;
    cursor: pointer;
}

.diasSemana:hover {
    border: 3px solid aqua;
    cursor: pointer;
}